body {
    background-color: #0b0e0cf1;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

/* Keep the previous styles */

a {
    text-decoration: none;
    color: #138004;
}

a:hover {
    color: #1ccc05;
}

a:visited {
    color: #0a4702;
}

header {
    background-color: #02290e;
    padding: 10px;
    display: flex;
    align-items: center; /* Center logo vertically */
}

.logo img {
    max-width: 100px;
    margin-right: 20px;
}

/* Adjust the main container */

main {
    display: flex;
    align-items: center; /* Center items vertically */
    padding: 20px;
}

.tag-bar {
    max-width: 250px;
    max-height: 200px; /* Set a fixed maximum height */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.tag-link {
    margin-bottom: 0.5em; /* Adjust as needed */
}

.tag-bar .tag-link {
    margin-right: 4em;
}

.search-container {
    flex: 1; /* Occupy the remaining space */
    display: flex;
    justify-content: center; /* Center the search bar horizontally */
    align-items: center; /* Center the search bar vertically */
}

#searchBar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

/* Keep the previous styles */

.items-container {
    flex: 3;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: calc(20% - 20px); /* Adjust the width based on the number of items per row */
    height: 250px; /* Set a fixed height for the items */
    margin-bottom: 20px;
    text-align: center;
}

.item img {
    max-width: 200px;
    max-height: 180px; /* Adjust to fit within the fixed height */
    width: auto;
    height: auto;
}

footer {
    background-color: #02290e;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-Images {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Add some spacing around the images */
}

.footer-Images a {
    display: inline-block;
    margin: 0 10px; /* Adjust as needed */
}

.footer-Images img {
    width: 25px;
    height: 25px;
}

/* Media queries for responsiveness */

@media screen and (max-width: 1920px) {
    .item {
        width: calc(20% - 20px);
    }
}

@media screen and (max-width: 1440px) {
    .item {
        width: calc(25% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .item {
        width: calc(50% - 20px);
    }
    .tag-bar {
        display: none;
    }
}
